.card {
  @include box-shadow(0 1px 2px darken($card-border-color, 5));
}

.flash {
  display: none;
}

.growl {
  width:300px;
  z-index: $zindex-navbar-fixed + 20;
  &-container > &-item {
    padding-right:10px;
    @include box-shadow(0 1px 5px darken($card-border-color, 50));
  }
}

.body {
  overflow: hidden;

  &__overlay {
    position: fixed;
    z-index: $zindex-navbar-fixed;
    top:100px;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    pointer-events: none;
    $bg: $body-bg;
    @include gradient-y( rgba($bg, 0), $bg);
    @include transition(700ms);
  }

  &--has-menu {
    overflow: visible;

    .body__overlay {
      opacity:1;
      pointer-events: auto;
    }
  }

  #loading-bar{
    .peg {
      opacity:1;
      border-radius:0;
      @include box-shadow(none);
      @include gradient-x($brand-primary, $link-color);
    }

    .bar {
      height: 2px;
      background-color: $brand-primary;
      z-index: $zindex-navbar-fixed + 1000;
      @include box-shadow(0 0 2px 0 darken($brand-primary, 20));
    }
  }
}
