<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag 'app', media: 'all' %>
<% end %>

<div class="devise">
  <div class="devise__form devise__form--sign-up">
    <div class="card">
      <h5 class="card-header">Registrieren und melden Sie einen neuen Ort</h5>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: '') do |f| %>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-sm-3 text-sm-right">
              <%= f.label :email %>
            </label>
            <div class="col-sm-9">
              <%= f.email_field :email, class: 'form-control', autofocus: true %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 text-sm-right">
              <%= f.label :password %>
            </label>
            <div class="col-sm-9">
              <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 text-sm-right">
              <%= f.label :password_confirmation %>
            </label>
            <div class="col-sm-9">
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 push-sm-8 text-sm-right">
              <%= f.submit "Registrieren", :class => 'btn btn-primary' %>
            </div>
            <div class="col-sm-8 pull-sm-4 small">
              <%= render :template => "devise/shared/links" %>
            </div>
          </div>
        </div>
        <%= render :template => "devise/shared/omniauth" %>
      <% end %>
    </div>

    <% if flash[:alert] %>
      <p class="alert-warning alert"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="alert-info alert"><%= flash[:notice] %></p>
    <% end %>
  </div>
</div>
