<header class="header" ng-class="{ 'header--has-menu': menu.isVisible(), 'header--disabled': main.isPanelOpen(), 'header--filtered': header.filters.filtered }" ng-controller="HeaderCtrl as header">
  <nav class="navbar navbar-light header__navbar">
    <span class="header__navbar__hamburger" ng-click="menu.toggle()">
      <span class="hamburger hamburger--squeeze" ng-class="{ 'is-active': menu.isVisible() }">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </span>
      <span class="header__navbar__hamburger__label hidden-lg-down">
        {{ 'header.nav.filter' | translate }}
      </span>
      <sup class="header__navbar__hamburger__badge" ng-if="header.filters.filtered">
        <a class="fa fa-filter"></a>
      </sup>
    </span>
    <div class="navbar-brand header__navbar__brand hidden-md-down">
      <a href="/">
        Wege Rhein-Erft
      </a>
    </div>
    <ul class="nav navbar-nav float-md-right header__navbar__menu" ng-if="menu.isVisible()">
      <li class="nav-item header__navbar__menu__item" ng-if="main.currentUser">
        <a class="nav-link"  ui-sref="contribute">
          <i class="fa fa-plus fa-fw"></i>
          {{ 'header.nav.contribute' | translate }}
        </a>
      </li>
      <li class="nav-item header__navbar__menu__item">
        <a class="nav-link" ui-sref="page({ slug: 'about' })">
          {{ 'header.nav.about' | translate }}
        </a>
      </li>
      <li class="nav-item header__navbar__menu__item">
        <a class="nav-link" ui-sref="page({ slug: 'hinweise' })">
          {{ 'header.nav.hinweise' | translate }}
        </a>
      </li>
      <li class="nav-item header__navbar__menu__item">
        <a class="nav-link" ui-sref="page({ slug: 'benutzungsanleitung' })">
          {{ 'header.nav.instruction' | translate }}
        </a>
      </li>
      <li class="nav-item header__navbar__menu__item header__navbar__user dropdown" uib-dropdown ng-if="main.currentUser">
        <a href uib-dropdown-toggle class="dropdown-toggle">
          <img ng-src="//www.gravatar.com/avatar/{{ main.currentUser.email_md5 }}?d=retro" class="rounded-circle header__navbar__user__avatar" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
          <h6 class="dropdown-header">
            <span ng-bind-html="'header.nav.user-display' | translate: main.currentUser"></span>
          </h6>
          <div ng-if="main.currentUser.role !== 'contributor'">
            <a class="dropdown-item" href="/admin" translate>header.nav.admin</a>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/sign_out" translate>header.nav.logout</a>
        </div>
      </li>
      <li class="nav-item header__navbar__menu__item header__navbar__menu__item--login" ng-hide="main.currentUser">
        <a class="nav-link" href="/users/sign_in" translate>header.nav.login</a>
        <div class="header__navbar__menu__item__notice"  ng-if="!main.currentUser && menu.isVisible()">
          <div class="navbar-text" translate>header.nav.login-to-add</div>
        </div>
      </li>
    </ul>
  </nav>

  <div class="header__menu" ng-show="menu.isVisible()">
    <div ng-repeat="section in ::header.menu.getSections()">
      <h4 class="header__menu__links__heading"  ng-if="::section">{{ ::section }}</h4>
      <ul class="list-inline row header__menu__links header__menu__links--selectable">
        <li class="header__menu__links__item col-lg-4 col-md-6 col-sm-12 col-xs-12"
            ng-class="{ 'header__menu__links__item--active': item.isActive() }"
            ng-repeat="item in ::header.menu.getItems(section)">
          <a class="card card-block" ng-href="{{ :: item.getHref() }}" ng-click="item.onClick()">
            <img ng-src="{{ :: item.icon }}" class="header__menu__links__item__icon" height="36" ng-if=":: item.icon" />
            <i class="fa fa-fw header__menu__links__item__checkbox"
               ng-class="{ 'fa-check-square-o': item.isActive(), 'fa-square-o': !item.isActive() }"></i>
              <span class="card-text">{{ item.name | translate }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="mt-2 row">
      <div class="col-xs-6">
        <button class="btn btn-block btn-secondary btn-lg" ng-click="main.clear() && menu.hide()">
          {{ 'header.menu.filter.clear' | translate }}
        </button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-block btn-primary btn-lg" ng-click="main.load() && menu.hide()">
          <i class="fa fa-filter fa-fw"></i>
          {{ 'header.menu.filter.apply' | translate }}
        </button>
      </div>
    </div>
  </div>
</header>
