.header {
  padding:1vh;
  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index:$zindex-navbar-fixed + 5;
  background:transparent;
  pointer-events: none;

  &--has-menu {
    background:  white;
    pointer-events: auto;
  }

  &--filtered {
    top:$main-alert-height;
  }

  &--disabled, &--disabled &__navbar * {
    opacity:0;
    pointer-events: none;
    @include vendor-prefix(transform, translateY(-100%));
  }

  &__navbar {
    background:transparent;
    padding-top: .5rem;
    padding-left:0;
    white-space: nowrap;
    overflow: visible;

    * {
      pointer-events: auto;
    }

    &__hamburger {
      @include vendor-prefix(transform, translateY(.5rem));
      @include box-shadow(0 2px 2px darken($card-border-color, 5));
      float:left;
      margin-right:$spacer;
      background:$link-color;
      border:$input-border-color 1px solid;
      padding: 0 .7rem;
      height: 3rem;
      line-height: 3rem;
      display: block;
      color: white;
      margin-top:-0.7rem;
      border-radius: $line-height-base * 1em;
      position: relative;

      .hamburger {
        @include vendor-prefix(transform, translateY(.3rem));
      }

      &__label {
        margin-left: .5rem;
        display: inline-block;
        height:inherit;
        line-height:inherit;
        font-weight: 700;
        font-size:1.2em;
        color: inherit;
      }

      &__badge {
        position: absolute;
        right:0%;
        top:0%;
        background: $brand-danger;
        color:white;
        border-radius: 50%;
        height:1.5em;
        line-height:1.5em;
        width:1.5em;
        text-align: center;
      }
    }


    &__brand {
      padding-right:1rem;
      margin-right:.5rem;
      margin-top:.2rem;
      font-weight: 700;
      & > a {
        color:black;
        text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white,
                     2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white;
      }
    }


    &__menu {
      &__item {
        position: relative;
        overflow: visible;

        & + &.nav-item {
          margin-left:.5rem;
        }

        @include media-breakpoint-down(sm) {
          display: block;
          width:100%;
          clear:both;
          margin-top: $spacer;
          margin-left:0 !important;
        }

        &--login {
          & > a {
            background: $link-color;
            border:$input-border-color 1px solid !important;
            color:white !important;
          }
        }

        &__notice {
          position: absolute;
          top:100%;
          right:$spacer;
          z-index: 1000;
          white-space: nowrap;
          font-weight: 700;
          font-size:.9rem;
          color:$text-muted;

          @include media-breakpoint-down(xs) {
            left:$spacer;
            right: auto;
          }
        }
      }
    }

    &__user {
      @include media-breakpoint-down(sm) {
        position: absolute;
        right:$spacer;
        top:0;
        width:auto;
        margin-top:.5rem;
      }
    }

    &__user, .nav-item .nav-link {
      height: $input-height + $input-padding-y/2rem;
      line-height: $input-height;
      border:1px solid $link-color;
      padding:2px;
      border-radius: $input-height;
      @include box-shadow(0 2px 2px darken($card-border-color, 5));

      img {
        height: 100%;
        display:inline-block;
        float:left;
      }

      .dropdown-toggle:after {
        color:$text-muted;
        margin:0 5px;
      }

      .dropdown-menu {
        margin-top:1px; // Cover the navbar bottom border
        transform: translate(0, $navbar-padding-y);
      }
    }

    &__user > a {
      overflow: hidden;
    }
    .nav-item .nav-link {
      font-weight: bold;
      padding:0 .5rem;
    }
  }

  &__menu {
    position: absolute;
    top:100%;
    left:0;
    right:0;
    background: white;
    padding:$spacer;
    padding-top:$spacer * 2;

    @include box-shadow(0 2px 2px darken($card-border-color, 5));
    @include transition(.1s);

    &.ng-hide {
      opacity: 0;
      @include vendor-prefix(transform, translateY(-2rem));
    }

    &__links {

      ul {
        margin-bottom:10px;
      }

      &__heading {
        margin:0;
        margin-bottom:10px;
      }

      &--selectable &__item {

        .card {
          @include transition(300ms);
          @include vendor-prefix(filter, grayscale(100%));
          padding:2vh;
          white-space: normal;

          &:hover {
            text-decoration: none;
            @include vendor-prefix(filter, grayscale(0%));
          }


          @media (max-width: map-get($container-max-widths, md) ) {
            min-height: 5em;
          }
        }
        .card-text {
          width: 80%;
          position: absolute;
        }

        html body &--active .card {
          border-color: darken($brand-primary, 5%);
          @include vendor-prefix(filter, grayscale(0%));
        }
      }

      &__item {
        margin-top:.5rem;
        cursor: pointer;
        @include transition(0);

        .card {
          overflow: hidden;
          height:100%;

          h5 {
            font-size:1.1em;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1em;
          }
        }

        &__icon {
          margin-right:.5em;
          position: absolute;
          right: $spacer/2;
          top: 50%;
          height:36px;
          margin-top:-18px;
          display: block;
        }

        &__checkbox {
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
