.contribute {

  overflow: auto;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  &__heading, &__body {
    max-width: 660px;
    margin:0 auto 2em;
  }

  &__heading {
    padding-bottom:0;
  }

  &__nav {
    padding:2vh;
    font-size:1.5em;
  }

  &__body {

    &__input {

      &--has-parent {
        &, input {
          font-size: .9em;
        }
        margin-left: 1em;
      }
    }

    fieldset {
      margin-top: $spacer * 1 * $line-height-base;
      border-bottom:$card-border-color 1px solid;

      legend {
        font-weight: bold;
      }
    }
  }
}
