<div class="contribute">
  <nav class="contribute__nav">
    <a ui-sref="main">
      <i class="fa fa-arrow-left"></i>
      <span class="sr-only">{{ 'contribute.back' | translate }}</span>
    </a>
  </nav>
  <div class="contribute__heading">
    <h2>{{ 'contribute.title' | translate }}</h2>
    <p class="lead">{{ 'contribute.description' | translate }}</p>
  </div>
  <form class="contribute__body card" name="contributeForm" ng-submit="contribute.send()">
    <fieldset ng-repeat="(group, inputs) in contribute.groups" ng-disabled="contribute.frozen" class="card-block">
      <legend>{{ group }}</legend>
      <div class="form-group contribute__body__input"
           ng-class="{ 'contribute__body__input--has-parent': input.parent }"
           ng-repeat="input in inputs"
           ng-show="!input.parent || contribute.place[input.parent]">
        <div ng-switch="input.variable_type">
          <div ng-switch-when="string">
            <label for="input-{{ $index }}">
              {{ input.label }}<sup ng-if="input.required" class="text-danger">*</sup>
            </label>
            <input type="text" ng-required="input.required" class="form-control" id="input-{{ input.variable }}" ng-model="contribute.place[input.variable]" />
          </div>
          <div ng-switch-when="boolean" class="checkbox">
            <label>
              <input type="checkbox" ng-required="input.required" ng-model="contribute.place[input.variable]" />
              {{ input.label }}
            </label>
          </div>
          <div ng-switch-when="list">
            <label for="input-{{ $index }}">
              {{ input.label }}<sup ng-if="input.required" class="text-danger">*</sup>
            </label>
            <select ng-required="input.required" multiple="true" ng-options="value for value in input.values" ng-model="contribute.place[input.variable]" class="form-control">
            </select>
          </div>
        </div>
        <div class="small text-muted" ng-bind-html="input.help_text" ng-if="input.help_text"></div>
      </div>
    </fieldset>
    <div class="contribute__body__footer card-footer">
      <button type="submit" ng-disabled="contributeForm.$invalid" class="btn btn-primary btn-lg">
        {{ 'contribute.send' | translate }}
      </button>
      <p class="text-muted" ng-bind-html="'contribute.required' | translate"></p>
    </div>
  </form>
</div>
