<%- if controller_name != 'sessions' %>
  <%= link_to  t("devise.links.sign_in"), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to  t("devise.links.sign_up"), new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to  t("devise.links.forgot_password"), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to  t("devise.links.confirmation_instruction"), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if false && devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to  t("devise.links.unlock_instructions"), new_unlock_path(resource_name) %><br />
<% end -%>
