<%- if devise_mapping.omniauthable? %>
  <div class="container-fluid">
    <div class="row devise__form__omniauth">
      <div class="devise__form__omniauth__googleauth col-xs-6">
        <%= link_to t("devise.omniauth.sign_in.google"), user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-block btn-xs btn-secondary' %>
      </div>
      <div class="devise__form__omniauth__facebook col-xs-6">
        <%= link_to t("devise.omniauth.sign_in.facebook"), user_omniauth_authorize_path(:facebook), :class => 'btn btn-block btn-xs btn-secondary' %>
      </div>
    </div>
  </div>
<% end -%>
