<div class="main__place">
  <div class="main__place__heading" ng-style="{ backgroundImage: place.picture ? 'url(' + place.picture + ')' : '' }" ng-class="{ 'main__place__heading--has-picture': place.picture }">
    <a class="main__place__heading__toggler" ng-click="main.togglePanel(place.id)">
      <i class="fa fa-arrow-left main__place__heading__toggler__ico"></i>
      <span class="sr-only">{{ 'place.heading.toggler' | translate }}</span>
    </a>
    <h2>
      {{ :: place.name }}
    </h2>
    <p class="main__place__heading__comments">
      {{ 'place.comment.count' | translate:{ count: place.comments.length } }}
    </p>
    <address class="main__place__heading__address">
      <div class="main__place__heading__address__marker">
        <i class="fa fa-map-marker fa-faw"></i>
      </div>
      {{ :: place.adresse_or_strasse_und_hausnummer }}<br />
      {{ :: place.adresse_or_plz }}
    </address>
  </div>
  <div class="main__place__body">
    <div class="pull-right main__place__body__share">
      <button class="btn btn-link" socialshare socialshare-provider="twitter" socialshare-via="{{ 'place.share.tweet.via' | translate }}" socialshare-text="{{ place.name }}" translate-attr="{title: 'place.share.twitter'}">
        <i class="fa fa-twitter"></i>
        <span class="sr-only" translate>place.share.twitter</span>
      </button>
      <button class="btn btn-link" socialshare socialshare-provider="facebook" socialshare-title="{{ place.name }}" translate-attr="{title: 'place.share.facebook'}" socialshare-url="http://wre.jplusplus.org/#!/places/458">
        <i class="fa fa-facebook"></i>
        <span class="sr-only" translate>place.share.facebook</span>
      </button>
    </div>
    <div ng-if=":: place.accessibility_list.length" class="main__place__body__accessibility">
      <img ng-repeat="a in place.accessibility_list track by $index"
           ng-src="{{::a.picture}}"
           alt="{{::a.name}}"
           uib-tooltip="{{::a.name}}"
           height="36"
           tooltip-append-to-body="true" />
      <div class="small pt-1">
        <a class="nav-link" ui-sref="page({ slug: 'zeichenerklaerung' })">
          <i class="fa fa-info fa-fw"></i>
          {{ 'place.accessibility.meaning' | translate }}
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
    <dl class="main__place__body__details">
      <div class="row main__place__body__details__item" ng-repeat="(group, rules) in ::place.displayGroups">
        <dt class="col-xs-4">{{ ::group }}</dt>
        <dd class="col-xs-8">
          <div ng-repeat="rule in ::rules">
            <em ng-if="group !== rule.label">{{ ::rule.label }}:</em>
            <span ng-if=":: !place.isSpecialRule(rule)">
              {{ ::place[rule.variable] }}
            </span>
            <a ng-if="::rule.variable == 'webseite'" ng-href="{{ ::place[rule.variable] }}" target="_blank">
              {{ ::place[rule.variable] }}
            </a>
            <span ng-repeat="email in place[rule.variable].split(',')" ng-if="::rule.variable == 'email'">
              <a ng-href="mailto:{{ ::email }}">
                {{ ::email }}
              </a>
            </span>
          </div>
        </dd>
        <!--dd class="col-xs-8">
          <span ng-if=":: !place.isSpecialRule(rule)">{{ ::place[rule.variable] }}</span>
          <a ng-if="::rule.variable == 'webseite'" ng-href="{{ ::place[rule.variable] }}" target="_blank">
            {{ ::place[rule.variable] }}
          </a>
          <div ng-repeat="email in place[rule.variable].split(',')" ng-if="::rule.variable == 'email'">
            <a ng-href="mailto:{{ ::email }}">
              {{ ::email }}
            </a>
          </div>
        </dd-->
      <div>
    </dl>
    <div class="main__place__body__comments">
      <h4 class="main__place__body__comments__heading">
        {{ 'place.comment.count' | translate:{ count: place.comments.length } }}
      </h4>
      <ul class="list-unstyled main__place__body__comments__list">
        <li ng-repeat="comment in place.comments track by comment.id"
            ng-if="place.comments.length"
            ng-class="{ 'main__place__body__comments__list__item--pending': comment.status == 'pending' }"
            id="comment-{{ :: comment.id }}"
            class="row main__place__body__comments__list__item">
          <div class="main__place__body__comments__list__item__pending-alert" ng-show=":: comment.status == 'pending'">
            {{ 'place.comment.pending' | translate }}
          </div>
          <div class="col-xs-2 main__place__body__comments__list__item__avatar">
            <img ng-src="{{ :: comment.author_avatar }}" class="img-fluid img-circle" />
          </div>
          <div class="col-xs-10 main__place__body__comments__list__item__bubble">
            <span class="main__place__body__comments__list__item__bubble__author">
              {{ :: comment.author_name || 'Jane Doe' }}
            </span>
            <span class="main__place__body__comments__list__item__bubble__is_anonymous">
              <span class="text-muted small" ng-show=":: comment.is_anonymous">
                ({{ 'place.comment.unverified' | translate }})
              </span>
              <i class="fa fa-check-circle text-success" ng-show=":: !comment.is_anonymous"></i>
            </span>
            <span class="main__place__body__comments__list__item__bubble__meta small">
              {{ :: comment.created_at | date }}
            </span>
            <div class="main__place__body__comments__list__item__bubble__body">
              {{ :: comment.body }}
            </div>
          </div>
        </li>
      </ul>
      <form class="main__place__body__comments__form" name="commentForm" ng-submit="place.sendComment()">
        <div class="row">
          <div class="col-xs-12">
            <label>
              <span class="main__place__body__comments__form__placeholder" ng-hide="place.comment.body">
                {{ 'place.comment.placeholder.body' | translate }}
              </span>
              <textarea class="form-control" required ng-model="place.comment.body"></textarea>
            </label>
          </div>
          <div>
            <div class="col-xs-9">
              <label ng-if="!main.currentUser">
                <span class="main__place__body__comments__form__placeholder" ng-hide="place.comment.author_name">
                  {{ 'place.comment.placeholder.name' | translate }}
                </span>
                <input class="form-control" type="text" ng-model="place.comment.author_name" required />
              </label>
              <span ng-if="main.currentUser" class="text-muted small main__place__body__comments__form__author">
                <span ng-bind-html="'place.comment.user-display' | translate: main.currentUser"></span>
              </span>
            </div>
            <div class="col-xs-3 main__place__body__comments__form__submit">
              <button type="submit" ng-disabled="commentForm.$invalid" class="btn btn-link btn-block">
                {{ 'place.comment.send' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
