.main__place {

  pointer-events: auto;

  &__heading {
    background:$brand-primary no-repeat center center;
    background-size:cover;
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    position: relative;
    top: 0;
    z-index: 20;
    padding:2vh;
    padding-top: 7em;
    color:white;
    width:100%;

    h2 {
      font-size:1.5em;
      font-weight: bold;
      margin:0;
      position: relative;
    }

    &__toggler {
      display:none;
      position: relative;
    }

    &__comments {
      font-size:.9em;
      margin-bottom: .6em;
      color:rgba(white, .8);
      position: relative;
    }

    &__address {
      font-style:italic;
      margin:0;
      padding-left:1.5em;
      position:relative;

      &__marker {
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:1em;
        border-right:1px solid rgba(white, .7);
      }
    }

    &--has-picture {
      text-shadow:0 0 10px rgba(black, .5);

      &:before {
        content:"";
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        height:70%;
        z-index: 0;
        @include gradient-y(rgba(#000, 0), rgba(#000, .6));
      }
    }

    @media (max-width: map-get($container-max-widths, lg) ) {

      position: absolute;
      bottom:100%;
      top:auto;
      padding:2vh;

      &__toggler {
        display:block;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        z-index:400;
        cursor: pointer;

        &__ico {

          color:white;
          position: absolute;
          left:0;
          top:0;
          padding:2vh;
          font-size:1.1rem;
          @include vendor-prefix(transform, translate(-100%, 0));

          .main--panel-open & {
            @include vendor-prefix(transform, translate(0, 0));
          }
        }
      }

      .main--panel-open & {
        @include vendor-prefix(transform, translate(0, 0));
        position: -webkit-sticky;  // required for Safari
        position: sticky;
        top:0;
        bottom:auto;
        padding-top: $navbar-height * 1.5;
      }
    }
  }

  &__body {
    position: relative;
    z-index: 10;
    background:white;
    max-width: 100%;
    overflow:hidden;
    padding-bottom: 1vh;

    &__accessibility, &__details {
      padding:2vh;
      border-bottom:1px solid $gray-lighter;
      img:not(:last-child){
        margin-right: .5em;
      }
    }

    &__share {
      .btn {
        font-size: 2em;
        padding: $spacer;
      }
    }

    &__details {
      overflow-x: hidden;
      margin:0;

      &__item {
        margin-top: .1em;

        a {
          color:$brand-primary;
        }

        em {
          font-weight: bold;
          font-style: italic;
          color: $gray;
        }

        dt {
          text-align: right;
        }
      }
    }

    &__comments {
      position: relative;
      width: 100%;
      margin:0;
      padding-bottom:calc(#{$input-height * 3} + 2vh + 1px);

      &__heading {
        padding:2vh;
      }

      &__list {

          &__item {
            margin-right:2vh;
            margin-top:2vh;
            position: relative;

            &--pending &__avatar,
            &--pending &__bubble {
              @include vendor-prefix(filter, grayscale(100));
            }

            &__pending-alert {
              position: absolute;
              top:0;
              bottom:0;
              right:0;
              left:0;
              background: rgba(#fff, .8);
              z-index: 100;
              text-align: center;
              padding: 1em $grid-gutter-width-base;
            }

            &__avatar {
              text-align: right;
              color:$gray-light;
              margin-top:.1em;
              img {
                display: inline-block;
                width:60%;
              }
            }

            &__bubble {
              padding:1vh;
              background: #eee;
              position: relative;
              @include vendor-prefix(border-radius, .5em);

              &:before {
                content:"";
                border:.5em solid transparent;
                border-right-color:#eee;
                position: absolute;
                right:100%;
                top: 1em;
              }

              &__author {
                display: inline-block;
                font-weight: bold;
                margin-right:.2em;
              }

              &__meta {
                color:$gray-light;
                float:right;
              }

              &__body {
                margin-top:.1em;
              }
            }
          }
      }

      &__form {
        z-index: 450;
        position: fixed;
        bottom:0;
        right:0;
        width: 30vw;
        min-width: 450px;
        pointer-events: auto;

        background:white;
        padding:1vh;
        padding-top:0;
        border-top:1px solid $gray-lighter;
        @include box-shadow(0 2px 4px 0 rgba(black, .2));


        @media (max-width: map-get($container-max-widths, lg) ) {
          left:0;
          right:0;
          width:100%;
          min-width: 0;
        }

        label {
          position: relative;
          display: block;
          padding:0;
          margin:0;
          margin-top:1vh;
        }

        label &__placeholder {
          position: absolute;
          left:0;
          top:0;
          padding: $input-padding-y $input-padding-x;
          color: $text-muted;
          cursor: text;
          pointer-events: none;
        }

        &__author {
          margin-top:1vh;
          padding:0;
          height: $input-height;
          display: inline-block;
        }

        &__submit {
          padding-left:0;
          padding-right:0;
          padding-top:1vh;

          .btn {
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
    }
  }
}
