<p>Hello,</p>
<p>
  A new comment on the place <strong>«&nbsp;<%= @place.name %>&nbsp;»</strong> is awaiting approval:
</p>
<p class="blockquote">
  <strong><%= @comment.author_name %></strong>
  <br /><%= @comment.body %>
</p>
<p>
  <a href="<%= admin_place_comments_url(:scope => 'pending') %>" class="btn btn--block">
    See all pending comments
  </a>
</p>
<p>Have a nice day.</p>
