.main {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;

  &--filtered {
    .main__map {
      top: $main-alert-height;
    }

    @include media-breakpoint-up(lg) {
      .main__panel {
        top: $main-alert-height;
      }
    }

    @include media-breakpoint-down(md) {
      &.main:not(.main--panel-open) .main__panel__search {
        margin-top: $main-alert-height;
      }
    }
  }

  &__map {
    z-index: 200;
    background: #eee;
    background-size: cover;

    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    .leaflet-control-layers.leaflet-control {
      display: none;
    }

    .leaflet-marker-icon.marker-cluster.marker-cluster-small {
      &, & > div {
        font-weight: 700;
        color:white;
        background:rgba($brand-primary, .5)
      }
    }
    .leaflet-marker-icon.marker-cluster.marker-cluster-active {
      &, & > div {
        font-weight: 700;
        color: $body-color;
        background:rgba($link-color, 0.5)
      }
    }

    .leaflet-tile-pane .leaflet-layer:last-child {
      opacity: .8;
    }

    &__corner {
      position: absolute;
      bottom:1.5vh;
      right:1.5vh;
      text-align: right;
    }

    &__reset {
      display: inline-block;
      color:white !important;
      background:$link-color;
      border:$input-border-color 1px solid;
      padding:.5em;
      margin-bottom: $spacer;
      cursor: pointer;
      border-radius: 50%;
      height:$line-height-base;
      width:$line-height-base;
      @include box-shadow(0 2px 4px 0 rgba(black, .2));
    }

    &__credits {
      text-align: left;
      background:white;
      border:$input-border-color 1px solid;
      @include box-shadow(0 2px 4px 0 rgba(black, .2));

      & > a > img {
        max-width:270px;
        width:100%;
        padding:$spacer;
      }

      &__attribution {
        border-top:$input-border-color 1px solid;
        color:$text-muted;
        padding:.2em .5em;
        font-size: .8em;
      }
    }
  }

  &__alert {
    position: absolute;
    margin:0;
    left:0;
    right:0;
    top:0;
    z-index:300;
    font-weight: bolder;
    background:$brand-danger;
    padding:0 .5em;
    font-size: .8em;
    color:white;
    text-align: center;
    height:$main-alert-height;
    line-height:$main-alert-height;
    white-space: nowrap;
    a[href], a[ng-click] {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__panel {
    z-index: 400;
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    width: 30vw;
    min-width: 450px;
    overflow: visible;
    pointer-events: none;
    @include vendor-prefix(overflow-scrolling, touch);

    .main.main--has-place & {
      overflow: auto;
      background:white;
      pointer-events: auto;
      @include box-shadow(0 2px 4px 0 rgba(black, .2));
    }

    @media (max-width: map-get($container-max-widths, lg) ) {
      left:0;
      top: 100%;
      width:auto;
      min-width:0;
      @include transition(top .1s);

      .main.main--has-place & {
        overflow: visible;
      }

      .main.main--has-place.main--panel-open & {
        top:0;
        bottom:0;
        margin:0;
        max-height: none;
        overflow: auto;
        background:white;
      }
    }


    &__search {
      position: absolute;
      top:1.5vh;
      right:1.5vh;
      left:1.5vh;
      z-index:30;
      margin:0;
      pointer-events: auto;

      @media (max-width: map-get($container-max-widths, lg) ) {
        position: fixed;
        bottom:auto;
        top:1.5vh;
        left:calc(4em + 1.5vh);
        right:1.5vh;
        z-index:400;
        @include box-shadow(none);
        @include transition(transform .1s);

        .main.main--has-place.main--panel-open & {
          @include vendor-prefix(transform, translateY(-100%));
        }

        .main.main--has-place & {
          background: transparent;
        }
      }

      .form-group, .input-group {
        width:100%;
      }

      .input-group {
        @include box-shadow(0 2px 4px 0 rgba(black, .2));
      }

      .dropdown-menu {
        width: auto;
        left:0 !important;
        right:0 !important;
        padding:0;

        li a {
          color:inherit;
          display: block;
          padding:.3em .5em;
          border-bottom:$gray-lighter 1px solid;
          white-space: nowrap;
          overflow: hidden;
          font-size: .9em;
        }

        li:last-child a {
          border:0;
        }

        li.active {
          background:$gray-lighter;
        }
      }

      &__input {
        border-color:$gray-lighter;
      }

      & .form-group .input-group &__addon {
        padding:0;
        width: 3em;

        &--ico {
          padding:0;
          border-left:0;
          background:white;
        }

        &--toggle {
          cursor: pointer;
          a {
            display: inline-block;
            width:100%;
            height:2.25em;
            line-height:2.25em;
            padding:0;
            font-weight: 100;
            color:$link-color;
          }
        }
      }
    }
  }

  &__survey {
    z-index: 500;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    color:white;
    background: $brand-primary;
    padding:$card-spacer-y $card-spacer-x;

    @include transition(.4s);

    &.ng-hide {
      @include vendor-prefix(transform, translateY(100%));
    }
  }
}

.btn-survey {
  background-color: #e8b305;
}