<div ng-include="'header/header.html'"></div>
<div class="main" ng-class="{ 'main--has-place': main.hasPlace(), 'main--panel-open': main.isPanelOpen(), 'main--filtered': main.filters.filtered }">
  <div class="main__map">
    <leaflet center="main.center"
             defaults="main.defaults"
             markers="main.markers"
             maxbounds="main.maxbounds"
             layers="main.layers"
             geojson="main.geojson"
             controls="main.controls"
             height="100%"
             width="100%"></leaflet>
    <div class="main__map__corner">
      <a ng-click="main.resetBounds()" class="main__map__reset hidden-sm-up">
       <i class="fa fa-map fa-fw"></i>
      </a>
      <div class="main__map__credits">
        <a href="http://www.gold-kraemer-stiftung.de/" target="_blank">
          <%= image_tag('gks_logo.png', alt: "Gold-Kraemer-Stiftung", class: 'hidden-xs-down') %>
          <%= image_tag('gks_logo_small.png', class: 'hidden-sm-up') %>
        </a>
        <div class="small main__map__credits__attribution hidden-xs-down">
          Map <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors & <a href="https://cartodb.com/attributions">CartoDB</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main__alert" ng-if="main.filters.filtered">
    {{ 'main.alert.filters' | translate }}
    <a ng-click="main.clear()" class="ml-1">
      <i class="fa fa-times"></i>
      {{ 'main.alert.reset' | translate }}
    </a>
  </div>
  <div class="main__panel">
    <form class="main__panel__search" ng-submit="main.geocode()">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input class="form-control  main__panel__search__input"
                 type="search"
                 autocomplete="off"
                 placeholder="{{ 'place.search' | translate }}"
                 ng-model="main.location"
                 typeahead-on-select="main.go('main.place', $item)"
                 typeahead-focus-first="false"
                 uib-typeahead="p.name for p in main.places | filter:main.search($viewValue)"
                 id="input-search">
          <label class="input-group-addon main__panel__search__addon main__panel__search__addon--ico hidden-xs-down" for="input-search">
            <i class="fa fa-search fa-fw"></i>
          </label>
          <div ng-switch="'main.place' | isState" class="input-group-addon main__panel__search__addon main__panel__search__addon--toggle hidden-xs-down">
            <a ng-click="main.resetBounds()" ng-switch-when="false" uib-tooltip="{{ 'main.fit-bounds' | translate }}" tooltip-placement="bottom-right">
              <i class="fa fa-map fa-fw"></i>
            </a>
            <a ui-sref="main" ng-switch-when="true">
              <i class="fa fa-times fa-fw"></i>
            </a>
          </div>
        </div>
      </div>
    </form>

    <div ui-view></div>
  </div>
  <div class="main__survey" ng-show="main.showSurvey">
    <h3 class="main__survey__heading">
      {{ main.survey.title }}
    </h3>
    <p class="main__survey__body">
      {{ main.survey.body }}
    </p>
    <p class="text-xs-right">
      <a class="btn btn-primary" ng-click="main.closeSurvey(main.survey)">
        {{ 'main.survey.close' | translate }}
      </a>
      <a class="btn btn-secondary btn-survey" ng-click="main.closeAndStartSurvey(main.survey)">
        {{ 'main.survey.answer' | translate }}
      </a>
    </p>
  </div>
</div>
