<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag 'app', media: 'all' %>
<% end %>

<div class="devise">
  <div class="devise__form devise__form--">
    <div class="card">
      <h5 class="card-header">Change your password</h5>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <div class="card-block">
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group row">
            <label class="col-sm-3 text-sm-right">
              <%= f.label :password, "New password" %>
            </label>
            <div class="col-sm-9">
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 text-sm-right">
              <%= f.label :password_confirmation, "Confirm new password" %>
            </label>
            <div class="col-sm-9">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 push-sm-8 text-sm-right">
              <%= f.submit "Change my password", :class => 'btn btn-primary' %>
            </div>
            <div class="col-sm-8 pull-sm-4 small">
              <%= render :template => "devise/shared/links" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if flash[:alert] %>
      <p class="alert-warning alert"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="alert-info alert"><%= flash[:notice] %></p>
    <% end %>
  </div>
</div>
