.devise {

  &__form {
    width:600px;
    max-width:90%;
    margin:60px auto;

    &__omniauth {
      background: white;
      border-top:white 1px solid;
      padding:$grid-gutter-width-base/2 0;
      display: block;

      &__facebook .btn,
      &__googleauth .btn {
        color:white;
      }

      &__facebook .btn {
        background:#3B5998;
      }

      &__googleauth .btn {
        background:#EA4335;
      }
    }
  }
}
