.page {

  overflow: auto;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  &__heading, &__body {
    max-width: 660px;
    padding:2vw;
    margin:auto;
  }

  &__heading {
    padding-bottom:0;
  }

  &__nav {
    padding:$spacer * .75;
    font-size:1.5em;

    .btn.btn-default {
      font-weight: 700;
      background: $link-color;
      border:$input-border-color 1px solid;
      color: white;
      border-radius: $line-height-base * 1em;
    }
  }
}
