<div class="page">
  <nav class="page__nav">
    <a ui-sref="main" class="btn btn-default btn-lg">
      <i class="fa fa-arrow-left mr-1"></i>
      {{ 'page.back' | translate }}
    </a>
  </nav>
  <div class="page__heading">
    <h2 ng-bind="page.title"></h2>
  </div>
  <div class="page__body" ng-bind-html="page.body"></div>
</div>
