<p>Hello,</p>
<p>
  The new place <strong>«&nbsp;<%= @place.name %>&nbsp;»</strong> is awaiting approval.
</p>
<p>
  <a href="<%= admin_places_url(:scope => 'pending') %>" class="btn btn--block">
    See all pending places
  </a>
</p>
<p>Have a nice day.</p>
