<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">
    {{ $ctrl.title }}
  </h3>
</div>
<div class="modal-body" ng-bind-html="$ctrl.body"></div>
<div class="modal-footer">
  <label class="checkbox" ng-if="$ctrl.cookie">
    <input type="checkbox" ng-model="$ctrl.doNotShowAgain" />
    {{ 'main.modal.hide' | translate }}
  </label>
  <button class="btn btn-primary" style="margin-left: 0.5rem" type="button" ng-click="$ctrl.ok()">
    {{ 'main.modal.ok' | translate }}
  </button>
</div>
