// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows: true;
$enable-transitions: true;
$enable-rounded: false;

// Body
//
$body-bg: #efefef;
$body-color:#464749;

// Colors
//
$brand-primary: #2A803F;
$brand-info: #3f2a7f;
$brand-success: #055e2c;
$brand-warning: #ffefb3;
$brand-danger:#9E484F;
$link-color: darken(#FAC926, 10%);

// States
//
$state-warning-bg: $brand-warning;
$state-warning-text: #847b5d;

$state-success-bg: $brand-success;
$state-success-text: #fff;

$state-info-bg: $brand-info;
$state-info-text: #fff;

$state-danger-bg: $brand-danger;
$state-danger-text: #fff;

// Fonts
//
$font-family-sans-serif: "Source Sans Pro", "Fira Sans", "Droid Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, sans-serif;

// Cards
//
$card-bg: #fafafa;
$card-border-color: mix($card-bg, $body-color, 90);
$card-cap-bg: $card-border-color;

// Jumbotron
//
$jumbotron-bg: $card-bg;

// Lists
//
$list-group-bg: $card-bg;
$list-group-border-color: $card-border-color;

// Navs
//
$nav-link-hover-bg:             mix($card-bg, $body-bg);
$nav-disabled-link-color:       $card-bg;
$nav-disabled-link-hover-color: $card-bg;

$nav-tabs-border-color:                       darken($card-border-color, 5);
$nav-tabs-link-hover-border-color:            mix($card-bg, $body-bg);
$nav-tabs-active-link-hover-color:            $card-bg;
$nav-tabs-active-link-hover-bg:               $body-bg;
$nav-tabs-active-link-hover-border-color:     darken($card-border-color, 5);
$nav-tabs-justified-link-border-color:        darken($card-border-color, 5);
$nav-tabs-justified-active-link-border-color: $body-bg;


// Forms
//
$input-border-focus:             #FEB24C;
$input-box-shadow-focus:         rgba($input-border-focus, .3);


$input-height-base: 3em;
$main-alert-height: 1.5rem;

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,500,700&subset=latin,latin-ext');
@import url('//domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css');

// External
//
@import "bootstrap";
// bower:css
@import "angular-growl-v2/build/angular-growl";
@import "leaflet/dist/leaflet";
@import "leaflet.markercluster/dist/MarkerCluster";
@import "leaflet.markercluster/dist/MarkerCluster.Default";
@import "angular-loading-bar/build/loading-bar";
// endbower


// Navbar
//
$navbar-height: 3.4rem;

// Internal
//
@import "./mixins";
@import "./animations";
@import "./hamburger";
