<!DOCTYPE html>
<html ng-app="wre">
<head>
  <title>
    <% if content_for?(:page_title) %>
      <%= yield(:page_title) %>
    <% else %>
      Wege Rhein-Erft - Gold-Kraemer-Stiftung
    <% end %>
  </title>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" id="viewport" content="width=device-width, height=device-height, minimal-ui">
  <meta name="theme-color" content="#2A803F">

  <%= favicon_link_tag 'favicon.ico' %>

  <% if content_for?(:stylesheet_includes) %>
    <%= yield :stylesheet_includes %>
  <% end %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var href = document.location.protocol + "//" + document.location.host + document.location.pathname;
    document.write("<base href='" + href + "' />");
    // Quick and dirty way to pass arbitrary paths to JS
    var paths = {
      geojson: {
        landkreise: '<%= asset_path("landkreise.geo.json") %>'
      },
      tangram: {
        scene: '<%= asset_path("scene.yml") %>'
      },
      images: {
        here: '<%= image_path("here.svg") %>'
      }
    };
  </script>

  <meta name="fragment" content="!">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="http://wre.jplusplus.com/">
  <meta property="og:image" content="http://wre.jplusplus.com/assets/images/share.png">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="" />
  <meta name="twitter:creator" content="@jplusplus_">
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="http://wre.jplusplus.com/assets/images/share.png" />
  <meta name="twitter:url" content="http://wre.jplusplus.com/" />

  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="http://wre.jplusplus.com/assets/images/share.png">

  <!-- Add to homescreen -->
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="preload" href="/api/places">
</head>
<body class="<%= yield (:body_class) %> body" ng-class="{ 'body--has-menu': menu.isVisible() }">
  <div class="body__overlay" ng-click="menu.hide()">></div>
  <%= yield %>

  <% if content_for?(:javascript_includes) %>
    <%= yield :javascript_includes %>
  <% end %>

  <div growl></div>
  <div class="flash container">
    <% flash.each do |name, msg| -%>
      <div class="alert flash__item" data-type="<%= name %>"><%= msg %></div>
    <% end -%>
  </div>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.www.wege-rhein-erft.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.gold-kraemer-stiftung.de/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//analytics.gold-kraemer-stiftung.de/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</body>
</html>
