<html>
  <%= stylesheet_link_tag 'mailer', media: 'all' %>
  <body>
    <table id="main"  cellpadding="0" cellspacing="0" border="0" >
      <tr>
        <td valign="top">
          <table id="main__wrapper"  cellpadding="0" cellspacing="0" border="0" >
            <tr>
              <td valign="top">
                <%= yield %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <table id="main__footer"  cellpadding="0" cellspacing="0" border="0" >
            <tr>
              <td>
                Your received this email because your are registered on <a href="<%= root_url %>">Wege Rhein-Erft</a>.
              </td>
            </tr>
          </table>
        </td
      </tr>
    </table>
  </body>
</html>
